#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10

#include <dt-bindings/zmk/pointing.h>

#define BASE 0
//#define CKDH 1
#define NAV  1
#define SYM  2
#define NFN  3
#define ADJ  4

&mt {
  flavor = "tap-preferred";
  tapping-term-ms = <140>;
};

&lt {
  tapping-term-ms = <140>;
};

/ {

  conditional_layers {
    compatible = "zmk,conditional-layers";
    numfun_layer {
      if-layers = <NAV SYM>;
      then-layer = <NFN>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base_layer {
      label= "BASE";
      bindings = <
                &kp B       &kp L       &kp D       &kp C       &kp V               &kp J           &kp Y       &kp O       &kp U       &kp COMMA
                &kp N       &kp R       &kp T       &kp S       &kp G               &kp P           &kp H       &kp A       &kp E       &kp I
    &none       &kp X       &kp Q       &kp M       &kp W       &kp Z               &kp K           &kp F       &kp SQT     &kp FSLH    &kp DOT    &none
                                        &none       &mo NAV     &kp SPACE           &kp RSHFT       &mo SYM     &none
        >;
    };

    // ckdh_layer {
    //   label= "CKDH";
    //   bindings = <
    //             &kp Q       &kp W       &kp F       &kp P       &kp B               &kp J           &kp L       &kp U       &kp Y       &kp SQT
    //             &kp A       &kp R       &kp S       &kp T       &kp G               &kp M           &kp N       &kp E       &kp I       &kp O
    // &none       &kp Z       &kp X       &kp C       &kp D       &kp V               &kp K           &kp H       &kp COMMA   &kp DOT     &kp FSLH    &none
    //                                     &none       &mo NAV     &kp SPACE           &kp RSHFT       &mo SYM     &none
    //     >;
    // };

    nav_layer {
      label= "NAV";
      bindings = <
                &kp ESC     &kp C_VOL_DN  &kp C_MUTE    &kp C_VOL_UP  &none           &kp PG_UP   &kp INS     &kp HOME    &kp END     &kp DEL
                &sk LGUI    &sk LALT      &sk LCTL      &sk LSHFT     &key_repeat     &kp PG_DN   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
    &trans      &none       &none         &none         &kp TAB       &none           &none       &kp BSPC    &kp TAB     &mo ADJ     &kp RET     &trans
                                          &none         &trans        &trans          &trans      &none       &none
        >;
    };

    sym_layer {
      label= "SYM";
      bindings = <
                &kp N1      &kp N2       &kp N3      &kp N4       &kp N5          &kp N6      &kp N7      &kp N8      &kp N9      &kp N0
                &kp GRAVE   &kp LBRC     &kp LPAR    &kp LBKT     &kp LT          &kp COLON   &sk RSHFT   &sk RCTL    &sk RALT    &sk RGUI
    &trans      &kp TILDE   &kp RBRC     &kp RPAR    &kp RBKT     &kp GT          &kp PIPE    &kp MINUS   &kp EQUAL   &kp PLUS    &kp BSLH     &trans
                                         &none       &none        &trans          &trans      &trans      &none
        >;
    };
    
    numfun_layer {
      label= "NFN";
      bindings = <
                &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT       &kp CARET   &kp AMPS    &kp STAR    &kp UNDER   &kp SEMI
                &sk LGUI    &sk LALT    &sk LCTL    &sk LSHFT   &kp F11         &kp F12     &sk RSHFT   &sk RCTL    &sk RALT    &sk RGUI
    &trans      &kp F1      &kp F2      &kp F3      &kp F4      &kp F5          &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &trans
                                        &trans      &trans      &trans          &trans      &trans      &trans      
        >;
    };
 
    adjust_layer {
      label= "ADJ";
      bindings = <

                &sys_reset     &bt BT_CLR  &out OUT_TOG  &trans   &trans          &trans      &trans      &trans      &trans      &trans
                &bootloader    &bt BT_NXT  &trans        &trans   &trans          &trans      &trans      &trans      &trans      &trans
    &trans      &bt BT_CLR_ALL &bt BT_PRV  &trans        &trans   &trans          &trans      &trans      &trans      &trans      &trans  &trans
                                           &trans        &trans   &trans          &trans      &trans      &trans
        >;
    };
	};
};
